.DS_Store
.env
.var
.coverage
.project
.sass-cache
.cache
.tox/
.vscode/
.vscode/

db.sqlite3

*.pid
*.pyc
*.swp
*.egg-info

node_modules/
test-reports/
__pycache__/
venv/
bak/
celerybeat-schedule
*.log
uploads/*
#Electron-builder output
/dist_electron

var/
media/